h1 {
    font-size: 3.5rem;
    font-family: helvetica;
    margin: auto;
    text-align: center;
    padding: 30px;
}

.stylish {
    color: royalblue;
}

.button {
    height: 50px;
    width: 500px;
    font-size: 1.5rem;
    font-family: helvetica;
    color: white;
    border-radius: 5px;
    background-color: royalblue; 
    margin: auto;
    display: block; 
}

p, li {
    font-size: 2rem;
    font-family: helvetica;
    margin: auto;
    text-align: center;
    padding: 30px;
    list-style-type: none;
}

/*
#animationButton { 
    width: 500px; 
    height: 200px; 
    position: relative; 
}
*/

/*
#button { 
    padding: .5em 1em; 
    text-decoration: none; 
}
*/
/*
#effect { 
    width: 500px; 
    height: 200px; 
    padding: 0.4em; 
    position: absolute; 
    background: #fff; 
    
}
*/

#effect h3 { 
    margin: 0;
    padding: 0.4em; 
    text-align: center; 
}


#animation1 {
    display: block;
    margin: auto;
    position: absolute;
}


#circle-block {
    height: 600px;
}




